{% extends 'base.html' %}

{% block title %}
    Le détective
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            Enoncé
        </div>
        <div class="col">
            Un meurtre a été commis. En effet on a retrouvé le corps sans vie de Manolo Popolo.
            C'était ton meilleur ami et tu te décides à mener ta propre enquête. Des indices ont été laissés
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <div class="col">
            <a class="nav-link" href="/game/play">Aller au jeu</a>
        </div>
    </div>
</div>
{% endblock %}
